header{
    .navbar{
        display: flex;
        justify-content: center;
        height: 120px;
        padding: 0;
        padding-top: 15px;
        .container{
            margin: 0 auto;
            .banner-blue{
                height: 15px;
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                background-color: #0282f9;
                font-size: 10px;
            }
            .navbar-brand{
                padding: 0;
                img{
                    width: 80px; 
                    height: 80px;
                }
            }
            .navbar-collapse{
                display: flex;
                justify-content: center;
                ul{
                    
                    li{
                        .nav-link{
                            display: flex;
                            align-items: center;
                            padding: 0;
                            height: 120px;
                            font-weight: bold;
                            letter-spacing: 0.05px;
                            margin: 0 5px;

                            &:hover{
                                color: #0282f9;
                            }
                            
                        }
                        &:hover{
                            border-bottom: 2px solid #0282f9;
                        }
                    }
                }
            }
            form{
                position: relative;
                input{
                    border: none;
                    border-bottom: 3px solid #0282f9;
                    padding-right: 25px;
                }
                i{
                    position: absolute;
                    right: 0;
                    top: 40%;
                    transform: translateY(-50%);
                    color: gray;
                }
            }
        }
    }
}